<section id="happenings" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Happening around you</h1>
        </div>
        <div class="row" style="display:flex; flex-wrap:wrap;">
            <% @events[0...6].each do |event|%>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" style="align-items:stretch;" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <%=image_tag(event.at_css(".js-poster-image").attr('src'), class:'img-responsive', style: 'min-width:100%')%>
                        <div class="overlay">
                            <div class="buttons">
                                <a target="_blank" href="<%=event.css('a')[0]['href']%>">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="<%=event.css('a')[0]['href']%>" target="_blank"><%=event.at_css("div.list-card__title").text.strip%></a>

                        </a>
                    </h4>
                    <p>
                        <%=event.at_css("time.list-card__date").text.strip%>
                    </p>
                </figcaption>
            </figure>
        </div>
        <%end%>
    </div>
    <h5>Source: https://www.eventbrite.com</h5>
</div>
</section>
