<%= render 'partials/header' %>


<%=form_for :complaint, { :url => complaints_path, :class => "form-group", remote: true }  do |f|%>
    <div class="col-md-6 col-md-offset-3" >
      <h2>Raise an Issue</h2>
      <%= f.text_field :title, class: "form-control", placeholder: "Your issue", required: true %>
      <%= f.text_area :text, class: "form-control", placeholder: "Describe your issue" %>
      <div style="display:inline">
        <%= f.check_box :active %>
        <%= f.label 'For Action' %><br>
      </div>
      <%= f.submit 'Submit issue' ,class: 'btn btn-success', style: 'margin: 3px 0; border-radius:0px; padding:3px 12px;'  %>
    </div>
  <% end %>
