<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <% if date == booking.booking_date && booking.facility_type_id.to_s == params[:facility_type_id] then %>
      <div>
        <%= booking.id%>
      </div>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<br>

<%= form_for @booking, remote: true do |f| %>

  <%= hidden_field(:booking, :facility_type_id, :value => params[:facility_type_id]) %>
  <%= hidden_field(:booking, :user_id, :value => current_user.id) %>
  <%= date_field(:booking, :booking_date) %>

  <% if params[:facility_type_id] == "1" then %>
    <%= time_field(:booking, :start_at, :value => "16:00:00") %>
    <% else %>
    <%= time_field(:booking, :start_at) %>
  <% end %>

  <div class="row">
    <% @facilities.each do |fac| %>
      <% if fac.facility_type_id == params[:facility_type_id].to_i then %>
        <%= radio_button(:booking, :facility_id, fac.id) %>
        <%= label_tag(:facility_id_facility, (fac.facility_type.name + fac.number.to_s)) %>
      <% end %>
    <% end %>
  </div>

<br>
<br>
  <div class="">
    <p>
      <%= params[:facility_type_id] %>
      <%= current_user.inspect %>
    </p>

  </div>

<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
