<% @facilities.each do |fac| %>
<h3><%= @fac_type.name + fac.number.to_s %></h3>


    <div class="">
      <% (@fac_open...@fac_close).step(@fac_type.session_length * 3600).each do |timestamp| %>
      <div class="col-md-1">

        <%= form_for @booking, remote: true do |f| %>

        <%= hidden_field(:booking, :facility_type_id, :value => params[:facility_type_id]) %>
        <%= hidden_field(:booking, :user_id, :value => current_user.id) %>
        <%= hidden_field(:booking, :booking_date, :value => Date.today.strftime("%Y-%m-%d"), :class => 'booking_date_input') %>
        <%= hidden_field(:booking, :facility_id, :value => fac.id) %>

        <% timestamp = Time.at(timestamp).strftime("%H:%M:%S") %>
        <%= hidden_field(:booking, :start_at, :value => timestamp) %>
        
        <%= f.submit timestamp%>

        <% end %>
      </div>
    </div>



  <br>
  <br>

  <% end %>


<% end %>
