<h3><strong>My bookings</strong></h3>
<hr>
<% @bookings.each do |booking| %>
<div class="row">
  <div class="col-md-12">
    <% if booking.booking_date >= Date.today %>
      <h4>
        <%= FacilityType.find(Booking.find(booking.id).facility_type_id).name.to_s + " " + Facility.find(Booking.find(booking.id).facility_id).number.to_s %>
        <%= link_to '', booking, method: :delete, class: 'glyphicon glyphicon-remove', remote: true%>
        <%= link_to '', sendqr_path(:qr_code => booking.qr_code), class: 'glyphicon glyphicon-qrcode'%>
      </h4>
      <p><strong>Time:</strong> <%= "#{booking.start_at.strftime("%H:%M")} - #{(booking.start_at + FacilityType.find(Booking.find(booking.id).facility_type_id).session_length.hours).strftime("%H:%M")}" %></p>
      <p><strong>Date:</strong> <%= booking.booking_date.strftime("%Y-%m-%d") %></p>
      <hr>
    <% end %>
  </div>
</div>

<% end %>
