<!-- remove -->

<%= render 'partials/header' %>
<h1>My bookings</h1>
<% @bookings.each do |booking| %>
  <pre>
    <%=booking.inspect%>
  </pre>
  <pre>
    <%=booking[:qr_code]%>
  </pre>
  <%= link_to 'Delete booking', booking, method: :delete, class: 'btn btn-primary text-primary'%>
  <%= link_to 'Send QR Code', sendqr_path(:qr_code => booking.qr_code), class: 'btn btn-primary text-primary'%>

<% end %>
