<h1>Condo User Profile</h1>
<p>Name : <%=@user.name%></p>
<p>Email: <%=@user.email%></p>
<p>Block: <%=@user.block%></p>
<p>Unit : <%=@user.unit%></p>
 <%= link_to "Delete", user_path, method: :delete, class: "btn btn-primary" %>
