<section id="hero-area" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                        <span>Welcome to the Peak</span><br>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Centrally located</b>
                            <b>Fully furnished</b>
                            <b>Many amenities</b>
                            <b>QR Code gate access</b>
                        </span>
                        </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            A stunningly beautiful home designed to help you fulfill your aspirations in life. <br>Your choice of 168 luxurious units, ranging from 1-, 2-, 3-bedroom units to an exclusive penthouse.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->
    <section id="happenings" class="works">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Happenings around your apartment</h1>
            </div>
            <div class="row" style="display:flex; flex-wrap:wrap;">
              <% @events[0..10].each do |event|%>
              <div class="col-sm-4 col-xs-12">
                  <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                      <div class="img-wrapper">
                        <%=image_tag(event.at_css(".js-poster-image").attr('src'), class:'img-responsive')%>
                          <div class="overlay">
                              <div class="buttons">
                                  <a target="_blank" href="<%=event.css('a')[0]["href"]%>">Details</a>
                              </div>
                          </div>
                      </div>
                      <figcaption>
                      <h4>
                        <a href="<%=event.css('a')[0]["href"]%>" target="_blank"><%=event.at_css("div.list-card__title").text.strip%></a>

                      </a>
                      </h4>
                      <p>
                          <%=event.at_css("time.list-card__date").text.strip%>
                      </p>
                      </figcaption>
                  </figure>
              </div>
              <%end%>
            </div>
        </div>
    </section> <!-- #works -->
