<!DOCTYPE html>
<html>
  <head>
    <title>Project3Jsh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/overwrite.css">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header">
      <%= render "partials/navbar"%>
    </header>

    <div class="container">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

      <%= render "partials/footer"%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/jquery.easing.min.js"></script>
	<script src="/js/fliplightbox.min.js"></script>
	<script src="/js/functions.js"></script>

    <script src="/assets/script.js"></script>
  </body>
</html>
