<!DOCTYPE html>
<html>
  <head>
    <title>Project3Jsh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Template CSS Files
    ================================================== -->
    <!-- Twitter Bootstrs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Hero area slider css-->
    <link rel="stylesheet" href="/css/slider.css">
    <!-- owl craousel css -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <!-- template main css file -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
  </head>

  <body>
      <%= render "partials/navbar"%>

    <div class="container" style="margin:80px 0px 0px;">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div class="container">
        <%= yield %>
    </div>

      <%= render "partials/footer"%>
      <!-- Template Javascript Files
      ================================================== -->
      <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/slider.js"></script>
      <script src="/js/jquery.fancybox.js"></script>
      <script src="/js/main.js"></script>
  </body>
</html>
